%h2 Registrar
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|

  = display_base_errors resource
  = f.input :name, :autofocus => true, :label => 'Nombre'
  = f.input :email, :required => true
  = f.input :password, :required => true, :label => 'Contrase単a'
  = f.input :password_confirmation, :required => true, :label => 'Confirmar contrase単a'
  = f.button :submit, 'Registrar', :class => 'btn-primary'
=link_to '多Olvidaste la contrase単a?', new_user_password_url
