!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Mexilist"
      %meta{:content => content_for?(:description) ? yield(:description) : "Mexilist", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
        .linea
        .container
          #busca_por_categoria
            Busca por
            %strong categoría
          #search_bar.span7
            #all_categories.btn-group
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                todas
                %span.caret
              %ul.dropdown-menu
                -Category.all.each do |cat|
                  %li
                    %a=cat.name
            %form.navbar-form.pull-left
              %input.span5{:type => 'text'}
              %button.btn{:type => 'submit'} Buscar
          %button.publicar_btn.btn.btn-large.btn-primary{:type=>'button'}Publicar Anuncio

    #main{:role => "main"}
      .container
        .content
          .row
            .span2
              = render 'layouts/left_menu'
            .span10
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
